:root {
    --color-background: #00acc1;
    --color-text-signin: #7679EE;
    --color-ancher-text: #3AC582;
    --color-chatbox-icon: #24b57c;
    --color-najvabox-background: #08bf36;
    --color-label-text: #707174;
}

* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.Container {}

.Container_logo {}

.logo-image {}

.Container_header {}

.Container_header-text {}

.Container_formbox {}

.Container_formContainer-form {}

.formbox {}

.formbox_name {}

.inputbox {}

.input_name {}

.formbox_password {}

.input_password {}

.formbox_forgetfulness {}

.forgetfulness-dote {}

.forgetfulness-texts {}

.forget-text {}

.forget-link {}

.forget-clickHere {}

.formbox_button {}

.formbox_Separator {}

.separator {}

.line-left {}

.separator_text {}

.line-right {}

.formbox_Gmail {}

.formbox_Gmail-icon {}

.formbox_Gmail-text {}

.formbox_Linkdin {}

.formbox_Gmail-icon {}

.formbox_Gmail-text {}

.formbox_signup {}

.signup-text {}

.signup-button {}

.Container_change {}

.ChangeLoginBox {}

.ChangeLoginBox_description {}

.ChangeLoginBox_link {}

.ChangeLoginBox_link-ancher {}

.iamgeContainer {}