:root {
    --color-background: #f5f9fe;
    --color-text-signin: #7679EE;
    --color-ancher-text: #3AC582;
    --color-chatbox-icon: #24b57c;
    --color-najvabox-background: #08bf36;
    --color-label-text: #707174;
    --font-text-DanaVF: DanaVf;
    --font-text-DanaBold: DanaBold;
}

@font-face {
    font-family: peyda;
    src: url(../assests/Fonts/PeydaWeb-Bold.woff2);
}

@font-face {
    font-family: DanaVf;
    src: url(../assests/Fonts/DanaVF.woff2);
}

@font-face {
    font-family: DanaBold;
    src: url(../assests/Fonts/DanaFaNum-Bold.woff2);
}

* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.Container {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    flex-flow: column;
    background-color: var(--color-background);
    height: 100vh;
}

.Container_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    margin-bottom: 10px;
}

.Container_header-text {
    font-size: 1.8rem;
    color: #431E75;
    font-family: peyda;
    margin-top: 40px;
}

.Container_formbox {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 #00000021;
    border-radius: 5px;
    margin-top: 40px;
}

.formbox {
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 32px 10px;
}

.labbel {
    font-size: 1rem;
    font-family: var(--font-text-DanaVF);
}

.formbox_name {
    background-color: #fff;
    width: 100%;
}

input {
    width: 100%;
    height: 40px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #80808071;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #333;
    font-weight: 200;
}

input:hover {
    border: 1px solid #333333d1;
}

input:focus {
    border: 2px solid #333333d1;
    font-family: sans-serif;
}

.inputbox {
    margin-top: 4px;
    margin-bottom: 16px;
    width: 100%;
    position: relative;
}

.formbox_password {
    background-color: #fff;
    width: 100%;
}

.formbox_forgetfulness {
    display: flex;
    width: 100%;
    margin-top: 8px;
}

.forgetfulness-dote {
    width: 3px;
    height: 3px;
    margin-top: 10px;
    margin-left: 6px;
    border-radius: 3px;
    background-color: #7679EE;
}

.forget-text {
    text-align: right;
    font-size: 1rem;
    font-family: var(--font-text-DanaVF);
    color: #555559;
    font-weight: 500;
}

.forget-link {
    font-size: 1rem;
    font-family: var(--font-text-DanaVF);
    color: #555559;
    font-weight: 500;
    text-decoration: none;
}

.forget-clickHere {
    font-size: 1.2rem;
    font-family: var(--font-text-DanaBold);
    color: var(--color-text-signin);
    text-decoration: none;
}

.forget-clickHere:hover {
    color: #555559;
}

.formbox_button {
    width: 100%;
    padding: 6px 16px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--font-text-DanaVF);
    border: 0px;
    outline: 0px;
    background-color: #7679EE;
    transition: 0.5s;
    border-radius: 8px;
    height: 40px;
    margin-top: 8px;
    cursor: pointer;
}

.formbox_button:hover {
    background-color: #6d6fd6;
    box-shadow: 0px 1px 8px 0px #0000002f;
    ;
}

.formbox_Separator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 32px;
}

.line-left {
    background-color: #9DA1BC;
    height: 1px;
    width: 100%;
}

.separator_text {
    color: #9DA1BC;
    background-color: #fff;
    font-size: 1.4rem;
    font-family: var(--font-text-DanaVF);
    font-weight: 500;
    position: absolute;
    width: 10%;
    right: 45%;
    display: flex;
    justify-content: center;
}

.formbox_Gmail {
    margin-bottom: 16px;
    padding: 6px 16px;
    width: 100%;
    position: relative;
    background-color: #fff;
    box-shadow: 1px 3px 4px 1px #0000000f;
    border: 0px;
    outline: 0px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.formbox_Gmail:hover {
    box-shadow: 0px 0px 6px 5px #00000013;
    transition: 0.5s;
}

.google-icon {
    width: 23px;
    height: 23px;
    position: absolute;
    right: 20px;
    top: 25%
}

.linkdin-icon {
    width: 27px;
    height: 27px;
    border-radius: 2px;
    position: absolute;
    right: 20px;
    top: 15%
}

.formbox_Gmail-text {
    color: #65499C;
    font-size: 1.4rem;
    font-family: var(--font-text-DanaBold);
}

.formbox_signup {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.signup-text {
    font-size: 1.2rem;
    font-family: var(--font-text-DanaVF);
    color: #555559;
    font-weight: 500;
}

.signup-button {
    background-color: #fff;
    color: #7679EE;
    font-size: 1.4rem;
    font-family: var(--font-text-DanaVF);
    font-weight: 700;
    border: 0px;
    outline: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 15px;
    transition: 0.5s;
}

.signup-button:hover {
    background-color: #f3ecec96;
}

.iamgeContainer {
    display: none;
    background-image: url(../assests/image/nody-عکس-از-کتاب-1622640391.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
}

.fa-eye-slash {
    font-size: 2.5rem !important;
    position: absolute;
    left: 5%;
    top: 15%;
    cursor: pointer;
}

.fa-eye {
    font-size: 2.3rem !important;
    position: absolute;
    left: 5%;
    top: 15%;
    cursor: pointer;
}

.errorText {
    font-family: var(--font-text-DanaVF);
    color: #f36262;
    font-size: 1.3rem;
    background-color: #bcb6b611;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}
.errorTextName {
    font-family: var(--font-text-DanaVF);
    color: #f36262;
    font-size: 1.3rem;
    background-color: #bcb6b611;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    display: none;
}
.errorTextPassword {
    font-family: var(--font-text-DanaVF);
    color: #f36262;
    font-size: 1.3rem;
    background-color: #bcb6b611;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    display: none;
}

.errorText:hover {
    color: red;
    background-color: #bcb6b615;
}

@media (min-width : 450px) {
    .Container_formbox {
        width: 400px;
    }
}

@media (min-width : 900px) {
    .labbel {
        font-size: 1.2rem;
    }

    .signup-button {
        font-size: 1.6rem;
    }

    .formbox_button {
        font-size: 1.6rem;
    }
}

@media (min-width : 960px) {
    body {
        display: flex;
    }

    .Container_logo {
        justify-content: start;
    }

    .Container_change {
        position: absolute;
        right: 10px;
        bottom: 10px;
        margin-bottom: 0px;
    }

    .iamgeContainer {
        display: unset;
        height: 100cqh;
    }

    .formbox_Separator {
        position: relative;
    }

    .separator_text {
        position: absolute;
    }
}
